<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Table</title>
    <link rel="stylesheet" href="../Styles/styles.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Órarend tervező</h1>
      </header>
        <main>
          <div class="table-actions">
            <!-- Save timetable form -->
            <form id="save-form">
              <input type="text" name="name" autocomplete="off" placeholder="Type in table name">
              <button type="submit">Mentés</button>
            </form>
            
            <!-- Select saved tables -->
            <form id="get-form">
              <select name="table" id="table-select">
                <!-- Filled up by JS -->
              </select>
              <button type="submit">Kiválasztás</button>
            </form>
            
            <!-- Delete saved table -->
            <button id="delete-btn">Delete</button>
          </div>

            <!-- Subject table -->
          <table id="subjects-table">
            <thead>
              <tr>
                <th>Tantárgyak</th>
              </tr>
            </thead>
            <tbody id="subjects-body">
                  <!-- Filled up by JS -->
            </tbody>
          </table>

          <!-- Time table -->
            <table id="time-table" >
              <thead class="table-primary">
                <tr id="table-head">
                  <!-- Filled up by JS -->
                </tr>
              </thead>
              <tbody id="table-body">
                <!-- Filled up by JS -->
              </tbody>
            </table>
          </main>
        </div>


      <script type="module" src="../JavaScript/index.js"></script>
</body>
</html>